<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/basic.css" rel="stylesheet">

<span onclick="openNav()" class="addBtn"></span>
    {{> facebook}}
    <script src="/js/facebook.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-159236519-1', 'auto');
    ga('require', 'GTM-WP2FCNV')
    ga('send', 'pageview');
    ga("send", "event",'like', 'click');
</script>

</head>


<body>

<div id="myDIV" class="header">
  <!-- Use any element to open the sidenav -->

  <h1 class="fit_tittle"><font color = "black">My Fridge</a></h1>

  <button onclick="goBack()">Go Back</button>

  <div class="likeCtr"><button class="btn btn-default likeBtn">Like</button></div>

  <p class="facebookLogin"><fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button></p>

  <h2>
  <input type="text" id="myInput" placeholder="Ingredients, Expiration days...">
</h2>

  <span onclick="newElement()" class="addBtn">Add</span>

  <input type="text" class ="search" id= "searchInput" onkeyup="search()"
 placeholder="Search for foods.." title="Type in a name">

 <button onclick="window.location.href = 'recipes.html';" class="button" style="float: right;">Find Recipes</button>

</div>






<style>
h1{
  background-color: #01aaad;
  text
}
body {margin:0;
background-color: #01aaad;}

.search{
  position: static;
  margin-top: 30px;
  background-color: #DBFDDB;
}
.button{
  padding: 20px;
  position: relative;
  left: 1px;
  text-align: center;
  width: 250px;
  margin-top: 35px;
  display: inline-block;
  font-size:15px;
  background-color: #DBEDFD;
}
.navbar {
  overflow: hidden;
  background-color: rgb(179, 244, 255);
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #0D2944;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
</style>
</head>

<body>



{{#if viewAlt}}
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="">Home</a>
  <a href="add.html">Add Person</a>
  <a href="settings.html">Settings</a>
</div>
<span onclick="openNav()">Open Nav</span>

{{else}}

  <div class="navbar">
    <a href="add.html">Add Person</a>
    <a href="settings.html">Notification</a>
  </div>

  <!-- <div class="topnav">
  <a class="active" href="#home">All</a>
  <a href="#Veggies">Veggie</a>
  <a href="#Meat">Meat</a>
  <a href="#Others">Others</a>
</div> -->
{{/if}}



<ul id="myUL">
  <li><a href="#">Egg, 3 days</a></li>
  <li><a href="#">Milk, 5 days </a></li>

  <li><a href="#">Apple, 2 days</a></li>
  <li><a href="#">Pork, 7 days</a></li>

  <li><a href="#">Guacamoli, 2 days</a></li>
  <li><a href="#">Orange, 5 days</a></li>
  <li><a href="#">Tofu, 6 days</a></li>
</ul>



<script>
// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}
// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}
// Add a "checked" symbol when clicking on a list item
/*var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);*/
// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);
  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
// Scroll function
window.onscroll = function() {myFunction()};
function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
/* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
function goBack() {
  window.history.back();
}
/* search the word */
function search() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
    function goBack() {
      window.history.back();
    }
</script>
<script src="js/basic.js"></script>
</body>
</html>
